/* ### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)


- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700    
 */


:root{


    --body-background:hsl(30, 54%, 90%);
    --nutmeg: hsl(14, 45%, 36%);
    --card-background:  hsl(0, 0%, 100%);
    --subcard-background: hsl(30, 54%, 90%);
    
    
    --emphasiszed-text-color: hsl(332, 51%, 32%);
    --text-color:hsl(30, 10%, 34%);
    --secondary-text-color:hsl(30, 18%, 87%)   ;

    --global-border-radius:30px;
}
h2, h3{
    
    font-family:  'Young Serif', serif;
    color:var(--emphasiszed-text-color);
 }
 h3, p,li {
    font-family:'Outfit', sans;
 }

 p, li{
    font-size: 16px;
    color:var(--text-color);
 }
 ul, ol{
    padding-left: 2rem;
 }
 li{
    padding-left: var(--global-border-radius);
 }

 ul li::marker, ol li::marker{
    color:var(--emphasiszed-text-color);
    font-weight: bolder;
 }


 h1 {
    font-size: 40px;
 }
 h2{
    font-size:32px;
 }
 h3{
    font-size: 24px;
 }

.bolder{
    font-weight: bolder;
}

body{
    margin:0px;
    background-color:var(--body-background);
}
.recipe{
    width: 50%;
    margin:100px auto;
    background-color: var(--card-background);
    border-radius: var(--global-border-radius);
    padding: 50px;
}
.recipe img{
    width:100%;
    border-radius: var(--global-border-radius);
}

.prep-time{
    border-radius: var(--global-border-radius);
    background-color: var(--subcard-background);
    padding: var(--global-border-radius);
}

.section{
    padding:var(--global-border-radius);
    border-bottom:1px solid var(--secondary-text-color);
}
.section:last-of-type{
    border-bottom: none;
}



table{
    width:100%
}

td {
    text-align: start;
    width:50%;
    border-bottom:1px solid var(--secondary-text-color);
    padding:calc( var(--global-border-radius)/2);
    
}

tr:last-of-type td{
    border-bottom: none;
}


.highlighted{
    font-weight: 700;
    color:var(--emphasiszed-text-color);

}

@media screen and (max-width:550px){
    .recipe{
        width:100%;
        margin:0px;
        border-radius: 0px;
        padding:calc(var(--global-border-radius)/2)
    }
    .recipe img{
        width:120%;
        border-radius: 0px;
    }

    ul, ol{
        padding-left: 0.5 rem;
    }
    
}